* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    background-repeat: no-repeat;
    background: url("../imagenes_video/fondoModificada.jpg");
    background-size: 100%, 100%;
    font-family: sans-serif;
    background-attachment: fixed;
}

#agrupar {
    width: 960px;
    margin: 15px  auto;
}

section h1, footer h1, nav a, aside h3 {
    font-family: Candara , serif;
    font-weight: normal;
    text-transform: uppercase;
}

/*cabecera*/
article p { 
    font-family: Calibri , serif;
    color:  #000000;
    font-weight: normal;
    font-size: 1.3em;
    text-align: left;
}


header h1 {
    font-family: ‘Comic Sans MS’, cursive; 
    font-size: 6em;
    font-weight: normal;
    text-shadow: 2px 2px black;
    color: #000000;
}

header h2 {
    font-family: ‘Bookman Old Style’, serif; 
    color:  #000000;
    font-size: 1.5em; 
}

#cabecera {  
    background-position: center;
    padding: 80px;
    border-radius: 10px;
    background-color: #75C9C8;
    box-shadow: 6px 6px 6px white;
    margin-bottom: 25px;
}

/* Navegación */
nav {
    padding: 5px 15px;  
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 5px;
}

nav a {
    font-size: 1.5em;
    color: #ffffff;
    background-color: #0b2525;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #003AFE;
    color: #ffffff;
    border-bottom: 3px;
    outline: a;
}

/* Cuerpo */
section {
width: 660px; 
margin: 20px;
float: left;
} 

article, aside {
    display: inline-block;
    float: left;
}

article h2{
padding: 10px;
color: #0b2525;
}

article {
    background: #75C9C8;
    box-shadow: 6px 6px 6px white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}
  
article p {
    font-size: 1.3em;
    text-align: left;
    font-family: ‘Arial Narrow’, sans-serif; 
    color: #0b2525;
}

/*columna*/
aside {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: #75C9C8 ;
    box-shadow: 6px 6px 6px white;
    border-radius: 10px;
    font-family: Comic Sans MS; 
    text-align: center;
    color: #000000;
}

aside h2 {
    padding: 8px 15px; 
    font-family:  ‘Arial Narrow’, sans-serif; 
    font-size: 1.5em;
    color: #0b2525;
}

aside h3 {
    font-family: ‘Arial Narrow’, sans-serif; 
    font-size: 1.2em;
}

aside div { 
    padding: 15px;
    background-color: #e6f7f7;
    border-radius: 8px;
    margin-bottom: 20px;
}

aside p {
    font-family: ‘Arial Narrow’, sans-serif; 
    font-size: 1.3em;
    color: #0b2525;
}

#zumba {
    max-width: 100%;
    max-height: 100%
}

#suplementos {
    max-width: 100%;
    max-height: 100%
}

/* Pie de página */
footer {
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #0b2525;
    border-radius: 8px;
    margin-top: 25px;
}

footer p {
    color: #ffffff !important;
}

/* Pagina de hazte socio */

.registrarseFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding-left: 250px;
}

.form {
  background-color: #75C9C8;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
  color: #000000;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

/* Hide the placeholder texts (a) */

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: #75C9C8;
  color: #000000    ;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #7BB3B8;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #1B94FF;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #003AFE;
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

a:focus, input:focus, button:focus {
    outline: 3px solid #003AFE;
    outline-offset: 2px;
}
